<link rel="stylesheet" href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css"
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<div>
  <!--Login *ngIf="element == true" -->

  <div class="container">
    <h1>MARCAJE</h1>
    <div class="mb-3">
      <!-- <a href="#" [routerLink]="['/registrar']" (click)="ingreso(pass.value,email.value)">Registrarse</a> -->
      <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th width="220px">Opciones</th>
        </tr>
        <tr *ngFor="let empleados of empleado">
          <td>{{ empleados.id_empleado }}</td>
          <td>{{ empleados.nombres }}</td>
          <td>{{ empleados.apellidos }}</td>
          <td>
          </td>
        </tr>
      </table>
    </div>
    <button type="button" class="btn btn-primary">Aceptar</button>
  </div>

</div>